p{
     font-size: 100px;
 }
.boxmaker{
    width: 100px;
    height: 100px;
    background-color: black;
}
#box1{
    position: absolute;
    top: 0px;
    left: 500px;

}
#box2{
    position: absolute;
    top: 0px;
    left: 120px;
}
#hide{
    float: right;

}
#wrapper{
    position: absolute;
    top: 5%;
    width:90%;
    height: 90%;
    border-style: solid;
    border-size: 2px;
}